* {
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #609966;
}
.flatpickr-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.flatpickr-calendar:before,
.flatpickr-calendar:after {
  content: unset;
}
.flatpickr-calendar.inline {
  border-radius: 20px;
}
.shake {
  animation: tilt-shaking 0.25s 4;
}
header {
  height: 120px;
  background: var(--main-color);
  width: 100%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  color: #fff;
}
#header-title {
  display: flex;
  justify-content: center;
  padding: 15px;
}
#btn-main {
  background: var(--main-color);
  font-size: 15px;
  color: #fff;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
